body{
    text-align: center;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F9F3EC;
    color: #ED3833;
}

h1{
    margin: 0;
}

p{
    font-size: 1.5rem;
    display: inline-block;
}

h2{
    padding-top: 1%;
}

.container-fluid{
    width: 100%;
    padding: 0;
}

.navbar{
    padding: 1%;
    background-color: #F9F3EC;
    border-bottom: 1px solid;
    border-color: #ED3833;
}

.HeaderTitle{
    color: #ED3833;
}

.TableLinks{
    padding: 0 1rem;
}

.CrabImageSection{
    width: 100%;
    background-color: #63AABC;
    margin: 0;
}

.CrabImg{
    width: 35%;
}

.CrustaceanButton{
    border-radius: 5px;
    background-color: #ED3833;
    color: #F9F3EC;
    font-size: 40px;
    border-style: none;
    margin: 2rem;
}

.CrustaceanButton:hover{
    border-radius: 5px;
    background-color: #9f2622;
    color: #F9F3EC;
    font-size: 40px;
    border-style: none;
}

.Links{
    text-decoration: none;
    color: #ED3833;
    font-size: 18px;
}

.Links:hover{
    color: #641917;
}

.row{
    width: 100%;
    margin: 0;
}

/* About Section */

.dataSection
{
    padding: 0;
}

.CrustData{
    padding: 3%;
    width: 100%;
    text-align: center;
}

.TableImg{
    width: 50%;
    display: inline-block;
}